:root{
    --pink: pink
}
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}
body{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    background-color: white;
}
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: burlywood;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgb(138, 95, 2);
}
header .logo{
    font-size: 3rem;
    color: rgb(237, 231, 232);
    font-weight: bolder;
}
header .logo span{
    color: var(--pink);
}
header .navbar a{
    font-size: 1rem;
    padding: 0 1.5rem;
    color: rgb(147, 104, 51);
}
.navbar a:hover{
    color: var(--pink);
}
header .icons {
    display: flex;
    align-items: center;
}

header .icons input {
    padding: 5px;
    margin-right: 10px;
    margin-left: 0px;
}

.cart-icon {
    font-size: 20px;
    cursor: pointer;
}
.banner {
    background: url(https://i.pinimg.com/736x/5f/21/24/5f2124ee766032d850899008ada7a85c.jpg);
    background-size: cover;
    background-position: center;
    padding: 180px;
    text-align: center;
    height: 400px;
    margin-bottom: 70px;
}

.banner-text h1, #products h1 {
    font-size: 36px;
    color: #151515;
    margin-left: 1%;
}
.banner p{
    margin-top: 30px;
}

.banner button {
    padding: 10px 20px;
    background-color: #ef233c;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 20px;
}
.macam{
    margin: 1000px 0 0 200px;
    width: 90%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-left: 5%;
}

.macam img{
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid black;
    transition: all ease-in-out 0.5s;
}

.macam img:hover{
    width: 25%;
}
.judul{
    text-align: center;
    color: brown;
    font-size: x-large;
}
section {
    padding: 2em;
    text-align: center;
    
}
/* PRODUCT */
.macam{
    margin: 1000px 0 0 200px;
    width: 90%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-left: 5%;
}

.macam img{
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid black;
    transition: all ease-in-out 0.5s;
}

.macam img:hover{
    width: 25%;
}
.judul{
    text-align: center;
    color: brown;
    font-size: x-large;
}
section {
    padding: 2em;
    text-align: center;
    
}
.model{
    font-weight:bold;
    font-size:24px;
    text-align: center;
    color: #151515;
    margin-top: 30x;
}
.article{
    display: flex;
    text-align: center;
    margin-top: 50px;
}
.box img{
    flex-grow: 1;
    width: 150px;
    border: 1px solid rgb(17, 17, 17);
    height: 150px;
    float: left;
    margin: auto 10px;
    margin-top: 50px;
    border-radius: 20%;
}
.zigizaga{
    color: brown;
}
#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
   
}

.product-card {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
    padding: 1em;
    text-align: center;
    box-shadow: 1px 1px 40px#ec8e5e;
    margin-top: 30px;
}
.product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

button {
    background: #e1c32c;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    margin-top: 0.5em;
    border-radius: 20px;
}

button:hover {
    background: #555;
}
/* product ending */

/* riview */
.reviews{
    text-align: center;
    margin-top: 30px;
}
.review {
    display: grid;
    background-color: burlywood;
    padding: 15px;
    margin: 10px 0;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-left: 25%;
  }
  .review .customer-name {
    font-weight: bold;
    color: #4CAF50;
  }
  .review .customer-rating {
    color: gold;
  }
  .review .customer-comment {
    font-size: 16px;
    color: #333;
  }
/* Footer */
footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: peachpuff;
    padding: 0;
    margin: 0;
    font-size: 16px;
    text-align: center;
    color: #555;
    padding-top: 50px;
    margin-top: 30px;
}
.container{
    display: flex;
    justify-content: space-evenly;

}
.footer{
    width: 33.3%;
}

footer h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p {
    width: 190px;
    margin: auto;
    padding: 7px;
    
}

.footer-content ul {
    text-align: center;
}

.list{
    padding: 0;
}

.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;

}

.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #ec8e5e;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social.icons{
    text-align: center;
    padding: 0;
}
.social-icons h3{
    color: black;
}
.masuk{
    font-size: 2rem;
    justify-content: center;
    display: flex;
    gap: 20px;
    margin-top: 30%;
}

.social.icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social.icons i{
    font-size: 25px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: palevioletred;
}
.social.icons i:hover{
    color: #ec8e5e;
}
.bottom-bar {
    text-align: center;
    padding: 0;
    margin: 70px;
    max-width: 3000px;
}
.bottom-bar p{
    color: black;
    margin: 0;
    font-size: 16px;
    padding: 7px;

}